.panel.panel-default
  .panel-heading.heading-to-hide
    h3.panel-title
      strong User info
    button.glyphicon([ngClass]="isInfoVisible ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'", (click)='hideInfo()')
  .collapse([ngClass]="isInfoVisible ? 'in' : ''")
    .panel-body(*ngIf="fetchedUser")
      .row
        .col-xs-3.row-custom-photo
          img([src]='fetchedUser.picture.large')
        .col-xs-5.row-custom-details
          div
            h3
              strong {{fetchedUser.name.title}} {{fetchedUser.name.first}} {{fetchedUser.name.last}}
            div
            strong gender:
            span {{fetchedUser.gender === 'male' ? " ♂" : fetchedUser.gender === 'female' ? " ♀" : '' }}
            div
            strong email:
            span {{fetchedUser.email}}
            div
            strong nationality:
            span {{fetchedUser.natFullName}}
        .col-xs-4.row-custom-searchButton
          button.btn.btn-info((click)='searchForFriends()')
            | Search for
            br
            | national
            br
            | friends
          button.btn.btn-info()
            | Search for
            br
            | foreign
            br
            | friends
