a.btn.btn-primary(href="/") Indietro all'elenco delle persone

h1 User details

app-user-info([fetchedUser]='fetchedUser', [fetchedUserId]='fetchedUserId')

app-user-national-friends([fetchedUser]='fetchedUser', [fetchedUserId]='fetchedUserId', [hidden]='!nationalFriends.areFriendsSearched')

app-user-map([fetchedUser]='fetchedUser', [fetchedUserId]='fetchedUserId')
